<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-danger" href="/adminlogout">Log out</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/add_user">Add User</a></li>
              <!-- <li><a class="dropdown-item" href="#">Edit User</a></li> -->
             </ul>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>

 <div class="container card p-2  m-auto mt-5"> 
  <table id="userDetails" class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">mobile</th>
      <th scope="col">gender</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0;i<users.length;i++){ %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= users[i].name %></td>
      <td><%= users[i].email %></td>
      <td><%= users[i].phone %></td>
      <td><%= users[i].gender %></td>

      <td><a href="/update_user/<%= users[i]._id %>" >edit</a> <a  class="delete" href=""  data-id=<%= users[i]._id %>>delete</a></td>
    </tr>
    <% } %>
  </tbody>
</table>
</div>



 

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->